.header {
  background-color: #1a1a1a;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.submit-request-button {
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #c3c4c5;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.submit-request-button:hover {
  background-color: #2a2a2a;
}
