.search-container {
  background-color: #d1d4f1;
  padding: 6% 0;
  text-align: center;
}

.search-container h1 {
  font-size: 3rem;
  margin-bottom: 2%;
}

.search-bar {
  display: inline-flex;
  width: 45%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 2%;
  font-size: 1rem;
}

.search-bar button {
  border: none;
  background-color: transparent;
  padding: 0 2%;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #4b5bb4;
  color: white;
}

@media (max-width: 768px) {
  .search-bar {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .search-bar button {
    display: none;
  }
}